<br><br><br><br>
<footer>
  <div class="container">
    <section id="quick_links">
      <nav class="text-center">
        <a href="/"></a>
        |
        <a href="/privacy"></a>
        |
        <a href="/login"></a>
      </nav>
    </section>
    <section id="copyright">
      <p class="text-center">© 2020 <a href="https://www.surrey.ac.uk/">University&nbsp;of&nbsp;Surrey</a></p>
    </section>
  </div>
</footer>