
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Dear voter,  </h3>
<p>
  Thank you for casting your vote in the Verify My Vote Trial. We have previously notified you that a verifiable voting trial is being carried out on this ballot, as part of a research project with the University of Surrey. You now have the opportunity to check your vote in the “Verify My Vote” online system. No-one else will be able to tell how you voted. There will also be an optional online questionnaire available for you to complete as part of the research project.
</p>
<p>
  Your participation in this trial is entirely optional, and your vote will be counted whether or not you choose to participate in the trial or the questionnaire.

  To check your vote please click on the link below. This will take you to the Verify My Vote website which will show you the vote it has recorded for you. This check contains no information that will identify you.

</p>

<br>
<p>
<%= link_to "Click to check your vote", getLink %>
</p>
</body>
</html>