<br><br><br><br><br><br>
<div class="container">
  <div class="jumbotron bg-white border mb-0 py-5">

      <h4 class="lead">There is a vote associated with you stored on the system. You can not vote more than once.</h4>
      <br>
      <p>
        You can check the status of your vote using the link sent to your email.
      </p>
      <p>
        You can see the results of the election from
        <%= link_to "here", {:controller => :voter, :action => :results}  %>
      </p>
      <p>
        If you want wish to verify your vote please use the link we have sent to you email.
      </p>

    <% flash.each do |key, value| %>
      <div style="width:70%; align-self: center; align-items: center; align-content: center;" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  </div>


</div>