
<br> <br><br> <br>
<br> <br> <br> <br>

<div class="container">
  <div class="jumbotron bg-white border mb-0 py-5">
    <% @election =  @parsed_json["elections"].detect { |obj| obj['name'] == @election_name} %>
    <p class="lead my-0 text-center">
    <h3> <%= @election["name"] %> Election</h3><br>
    <p>
      You have voted for the following candidate:
    </p>
    <br>
    <table class="table" style="width: 200px;">
      <thead>
      <tr>
        <th scope="col">Candidate Name</th>
      </tr>
      </thead>
      <tbody>
      <%  if !@checkes.nil? %>
      <% @checkes.each do |id| %>
        <% @candidate= @election["candidates"].detect { |obj| obj['id'] == id.to_i} %>
        <tr>
          <td style="color: blue;"><%= @candidate["name"] %></td>
        </tr>
      <% end %>
      <%end %>
      </tbody>
    </table>
    <br>
    <hr>
    <p>if this is correct, then click the 'Submit' button below. Otherwise, click 'Back' to change your vote. Once you submit, you can not change your vote.</p>
    </p>
    <div>
      <%= link_to 'Back', url_for(:back), {:class=> 'btn btn-outline-secondary' ,:style => "float: left"} %>
      <%= button_to "Submit", {:controller => :voter, :action => :castVote, :vote => @candidate["id"], :voter => params[:voter]}, {:class=> 'btn btn-outline-primary' ,:style => "float: right"}%>
    </div>
    <br><br>
  </div>
</div>
